@{
    
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - home manager</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    	<!--This bundle was moved by the Kendo UI VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<!--This CSS entry was added by the Kendo UI VS Extensions for compatibility reasons-->
	<link href="@Url.Content("~/Content/kendo.compatibility.css")" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />
	<link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.dataviz.metro.min.css" rel="stylesheet" type="text/css" />
	<script src="http://cdn.kendostatic.com/2013.2.918/js/jquery.min.js"></script>
	<script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.all.min.js"></script>
	<script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("home manager", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        @{
                            Html.Kendo().Menu()
                                .Name("navmenu")
                                .Items(items =>
                                {
                                    items.Add().Text("Home").Action("Index", "Home");
                                    if (Request.IsAuthenticated)
                                     {

                                         items.Add().Text("Finance").Action("Index", "Finance").Enabled(false);
                                         items.Add().Text("Kitchen").Action("Index", "Kitchen").Enabled(false);
                                         items.Add().Text("Knowledge").Action("Index", "Knowledge").Enabled(false);
                                         items.Add().Text("Media").Action("Index", "Media").Items(children =>
                                         {
                                             children.Add().Text("Movies").Action("Movies", "Media");
                                             children.Add().Text("TV Shows").Action("TVShows", "Media");
                                         });
                                         items.Add().Text("Medical").Action("Index", "Medical").Enabled(false);
                                         items.Add().Text("Trips").Action("Index", "TripPlanning").Enabled(false);
                                         items.Add().Text("Vehicles").Action("Index", "Vehicle").Enabled(false);
                                     }
                                    items.Add().Text("About").Action("About", "Home");
                                    items.Add().Text("Contact").Action("Contact", "Home");
                                }).Render();
                        }
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Rob Swafford - home manager</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
